// Here you can add other styles
body {
  font-size: 16px;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  font-size: 16px !important;
}

.sbtListCustomer {
  max-width: 100%;
  cursor: pointer;
}

.flexContainer {
  display: flex;
}

.sbtListCustomerAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.sbtListCustomerImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sbtListCustomerSearch {
  margin-bottom: 0.75rem;
}

.ordersMedia {
  padding: 10px;
  cursor: pointer;
  background: #eee;
  margin: 5px 0;
}