// Here you can add other styles
// body {
//   font-size: 16px;
// }
// input[type="color"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// select,
// textarea {
//   font-size: 16px !important;
// }

.displayInlineBlock {
  display: inline-block;
  width: auto;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline !important;
}

.displayFlex {
  display: flex;
}

.sbtLink {
  cursor: pointer;
}

.sbtListCustomer {
  max-width: 100%;
  cursor: pointer;
}

.flexContainer {
  display: flex;
}

.sbtListCustomerAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.sbtListCustomerImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sbtListCustomerSearch {
  margin-bottom: 0.75rem;
}

.ordersMedia {
  padding: 10px;
  cursor: pointer;
  background: #eee;
  margin: 5px 0;
}

.btn-super-xs {
  height: 20px;
  line-height: 10px;
  padding: 4px;
  width: auto;
}

.RegisterService {
  .toast {
    max-width: 100%;
  }
}

.sbtMyModal {
  max-width: "1600px" !important;
  width: "90%" !important;
}

.sbtInputSearch {
  display: block;
  margin-bottom: 10px;
}

.small-circle {
  border-radius: 8px;
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 10px;
  width: 16px;
}

.bg-green {
  background-color: green;
  border-color: green;
  color: #fff;
}

.bg-orange {
  background-color: orange;
  border-color: orange;
  color: #fff;
}

.sbtListGroup {
  .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
  }
}
